<p id="notice"><%= notice %></p>

<h1>
  <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
  To Do List
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>

 </h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_items.each do |todo_item| %>
      <tr>
        <td><%= todo_item.description %></td>
        <td><%= link_to 'Show', todo_item, class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_todo_item_path(todo_item), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', todo_item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New To do Item', new_todo_item_path, class: 'link' %>
